// VARIABLES
$black: #000;
$dark: #111;
$white: #fff;
$light: #f1f1f1;
$gray1: #444;
$gray2: #777;
$gray3: #aaa;

// GENERAL
* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0
    }
}

// FONT PALETTE
h1 {
  font: normal 36px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0 0 12px 0;
}
h2 {
  font: normal 30px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0 0 10px 0;
}
h3 {
  font: normal 26px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0 0 8px 0;
}
h4 {
  font: normal 22px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0 0 6px 0;
}
h5 {
  font: normal 18px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0 0 4px 0;
}
p {
  font: normal 16px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0;
}
a {
  font: normal 16px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0;
}
span {
  font: normal 16px/1.2 Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0;
}